<!DOCTYPE html>
<html>
<head>
    <title>Register Ambulance</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand" href="/">🚑 Ambulance Tracking System</a>
    </div>
</nav>

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-header bg-danger text-white text-center">
                    <h3>Register Ambulance</h3>
                </div>

                <div class="card-body">

                  <form method="POST">
    {% csrf_token %}

    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Ambulance Number</label>
        <div class="col-sm-8">
            {{ form.ambulance_number }}
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Driver Name</label>
        <div class="col-sm-8">
            {{ form.driver_name }}
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Driver Phone</label>
        <div class="col-sm-8">
            {{ form.driver_phone }}
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Current Location</label>
        <div class="col-sm-8">
            {{ form.current_location }}
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Status</label>
        <div class="col-sm-8">
            {{ form.status }}
        </div>
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-success">
            Save Ambulance
        </button>

        <a href="/list/" class="btn btn-secondary">
            View List
        </a>
    </div>

</form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>